*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db


# Node
npm-debug.log
yarn-error.log
package-lock.json

# Build outputs
/.vite
/.next
/.nuxt
/.cache

# Storage
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/debugbar

# IDE & OS files
*.swp
.DS_Store